<a href="https://colab.research.google.com/github/SempeOnielPhoole/Basic-Syntax-in-Python-1/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# comment in separate line
# Hell0 learners
x = 3
x = x * 3  # multiply by 3; comment in same line


print (x)

# This is
# Multiline
# comment

9

In [2]:
numOfLaptops = 3
ownerName = "Sempe Phoole"
print("Number of Laptops = ",numOfLaptops)
print("Owners Name = ",ownerName)

#Variable name begins with letter or underscore character
#Alpha-numeric and underscore are allowed in the rest of name
#Variable names are case-sensitive

Number of Laptops =  3
Owners Name =  Sempe Phoole

In [4]:
     a = 10
     b = 6
     print (a + b)      #Addition
     print (a - b)      #Subtraction
     print (a * b)      #Multiplication
     print (a / b)      #Division
     print (a % b)      #Modulus
     print (a ** b)     #exponentiation

16
4
60
1.6666666666666667
4
1000000

In [5]:
a = 5
b = 8
# Will return true if BOTH conditions true
print(a > 3 and a < 7)

#will return true if any one condition is true
print(a > 6 or b < 7)

# True if given condition is false
print(not(a > 3))

True
False
False

In [6]:
city = input("Where do you live?\n")
print("\n The city you live is : " + city)

Where do you live?
North West, South Africa

 The city you live is : North West, South Africa